.about {

    &__image{
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    &__text{
        padding-top: 15px;
        
        @mixin atSmall{
            padding-top: 0;
            margin-left: 60px;

        }

        @mixin atLarge{
            padding-top: 60px;
        }
    }

}