.large-hero {
    position: relative;
    &--background {
        background-image: url('../../assets/images/large-hero--background.jpg');
        height: 600px;
        @mixin atMedium{
            height: 900px;
            clip-path: polygon(100% 0, 100% 80%, 20% 100%, 0 85%, 0 0);
            -webkit-clip-path: polygon(100% 0, 100% 80%, 20% 100%, 0 85%, 0 0);
            
            @mixin parallax;        
        }
        background-position: bottom;
        /*clip-path: polygon(0 0, 100% 0, 100% 100%, 21% 84%, 0 100%);*/
        /*clip-path: polygon(68% 21%, 100% 0, 100% 100%, 0 100%, 0 0);*/
        clip-path: polygon(24% 100%, 100% 78%, 100% 0, 0 0, 0 89%);
        -webkit-clip-path: polygon(24% 100%, 100% 78%, 100% 0, 0 0, 0 89%);
    }

    &__text {
        color: #fff;
        position: absolute;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        text-align:center;
        top:50%;

        
        @mixin atVeryLarge {
            top:40%;
        }

    }

    &__title {
        font-size: 2.4rem;
        margin: 0;
        font-weight: 300;

        @mixin atSmall{
            font-size: 4.8rem;
        }
    }

    &__subtitle {
        margin: 0;
        font-size: 1.45rem;
        font-weight: 300;

        @mixin atSmall{
            font-size: 2.9rem;
        }
    }

    &__contact{
        font-size: 1.1rem;
        @mixin atSmall{
            font-size: 1.875rem;
        }
    }
}